{# templates/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" name="email" value="{{ last_username }}" id="inputEmail" class="form-control" required autofocus>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-primary">Login</button>
        <input type="hidden" name="_target_path" value="/home">

        <div class="mb-3 form-check">
            <input type="checkbox" name="_remember_me" id="rememberMe" class="form-check-input">
            <label class="form-check-label" for="rememberMe">Remember Me</label>
        </div>
        
    </form>
{% endblock %}
